.grid {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
}

.grid div {
    height: 38px;
    width: 38px;
    border: 1px solid;
}

.bomb {
    background-color: grey;
}

.checked {
    background-color: red;
}